
@{
    ViewData["Title"] = "About";
}﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>MUD Maker</title>

    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2018/07/09/00/38/not-dead-3525140_960_720.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        h1, h2, h3, h4, h5, h6, p, article {
            color: white;
            text-shadow: 1px 1px 3px blue;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1 styel="">Multi-User Dungeon Maker</h1>
    <br />
    <nav>

    </nav>
    <article>

        <p>
            <h2><b>Create your own dungeon game with MUD Maker</b></h2> <br />
            <div class="accordion" id="GeneralInfo">
                <div class="card bg-dark" style="opacity: 0.75">

                    <div class="accordion" id="accordionExample">
                        <div class="card bg-dark">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <h2> 1.0 General Information</h2>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h3>1.1 Purpose</h3>

                                    <h3>1.2 MUD Maker Overview</h3>
                                    Philisophical view:

                                    Take control of MUD maker and create a classic text-based game that could indulge your audience into a compelling story or create a unique dungeon game that is near impossible or impossible to beat! The choice of what type of dungeons you create is yours to make with our product!

                                    <h3>1.2.1 What is Multi-User Dungeon maker?</h3>
                                    * Text-based dungeon game creator that allows the user to create a dungeon adventure. <br>
                                    * The user will have a choice to make mission elements, enemies, dungeon levels, characters, and dungeons in the form of story text. <br>
                                    <br>
                                    <h3>1.2.2 Why create this game?</h3>
                                    * This game is created to give the opportunity to anyone who want to make their own compelling story. <br>
                                    * Keeping the user engaged is the goal to unleash creativity. <br>
                                    * Motivate user to send feedback to upgrade the game. <br>
                                    <h3>1.2.3 When does this game take place?</h3>
                                    * Whenever the user decides.
                                    <h3>1.2.4 Where does the environment of the game exist?</h3>
                                    * This game creator will take place in a dungeon at the least, all the other elements are up to the user to create. <br>
                                    <h3>1.2.5 Who will the user/customer play as?</h3>
                                    * The user will decide the player quantity and quality.
                                    <h3>1.2.6 What is the Main Objective</h3>
                                    * The user will decide the main objectives in the game.
                                    <h3>1.2.7 How is this game different from others?</h3>
                                    * The user will be able to use their creativity in developing a story comepelling enough to capture the attention of players and keep that attention.
                                </div>
                            </div>
                        </div>
                        <div class="card bg-dark">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h2>2.0 Features</h2>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h3>2.1 General</h3>
                                    * The user will have access to several assets to use in creation of the game. <br />
                                    * The user will have the option to make an endless game with story recursion or have a compelling ending. <br />
                                    * The user will have an option of making a multiplayer (pvp) version or a story (pve) version of their dungeon. <br />
                                    <h3>2.2 Multiplayer</h3>
                                    *(Currently unavailable)
                                    <h3>2.3 Gameplay</h3>
                                    * Text based menu selections are available for implementation. <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </article>
    <footer>
        <h3><a> &COPY; MSSA Cohort 7 Team 3 2019  </a></h3>
    </footer>
</body>
</html>

