
@{
     ViewData["Title"] = "Gameplay";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gameplay</title>
</head>
<body>
    Gameplay
</body>
</html>
