@{
    ViewData["Title"] = "Player Vs Environment";
}
<h1>@ViewData["Title"]</h1>

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="Modalsheet.css" rel="stylesheet">
<title>MUD Maker</title>

<style>
    body {
        background-image: url("https://vignette.wikia.nocookie.net/nodiatis/images/1/17/Vampire_Dungeon_Level_1-Main.jpg/revision/latest?cb=20090727214420");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Player v.s Environment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>












</body>
