
@{
    ViewData["Title"] = "Create";
}


<center><h1>Creating a character in MUD</h1></center>

    <h1>In the welcome screen</h1>

    <p>1. Enter your character or Type: NEW for new character</p>
    <p>2. Enter unique character name you would like to use: (If not unique and that name is already in use, please try another)</p>
    
    <p>3. Enter password for your name or 'Q' to quit (must be six characters long and not same as username)</p>
    <p>4. Use Color [Y/N/Back]:(Color Test: Red Green Blue Cyan Magenta Yellow)</p>

        <p>5. Choose your primary class, '?' to list or 'Back' to go back:</p>

        <h2>Different Classes:</h2>

        <p>- Mage: High powered spellcasting class</p>

        <p>- Warrior: Pure fighting machine. Warriors thrive on combat but cannot
        master the sublety of thieves or the magical talents of mages</p>

        <p>- Thief: Masters of poison and treachery the thieves are a secretive class.
        The thieves mastery of darker magics makes them a deadly enemy.</p>

        <p>- Ranger: The protectors of the realm. Excellent fighters.</p>

        <p>- Psi: Mystical spellcasting class about which little is known.</p>

        <p>- Paladin: Noble warriors that pride honor and justice above all else. Skilled in combat and holy magic.</p>

        <p>- Cleric: Spellcasting class more based upon defensive and healing magics.</p>
       <p> Combat skill more effective then mages but weaker combat spells.</p>

        <h3>(Choose your class wisely - it has to last you 200+ levels. You will be able to
        add additional classes or change your class later in the game.
        You can use 'help [classname]' ('help mage for example) for
        more information).</h3>

        <p>6. Choose your subclass, '?' to list or 'back' to go back:</p>

        <h4>Different subclasses:</h4>

        <p>- Barbarian: Focus on pure damage and are most deadly when wielding
        blunt instruments. They are the strongest of the warriors.</p>

        <p>- Soldier: The most disciplined warrior class. Soldiers are masters of weaponry
        and are particularly well trained in siege tactics.</p>

       <p> - Berserker: Fierce warriors who fight with little concern for their own well-being.</p>

        <p>- Blacksmith: Masters of crafting using base metals. Able to sharpen
        any sword and make many items that are valuable to other classes.</p>

        <h5>7. Suggested Races:</h5>

        <h5>Choose your race, '?' to the list or 'back' to go back:</h5>

        <p>- Dwarf: Short, sturdy demi-humans from deep within the earth</p>

        <p>- Giant: Hearty race of oversized humans with mighty strength</p>

        <p>- Lizardman: cold-blooded humanoids with reptilian scales</p>

        <p>- Vampire: Fearsome dwellers of the night.</p>

        <p>- Wolfen: Agile canine-humans, natural hunters of the realm.

        (More details on each race are availbale by typing 'help <racename></p>
            '

            <p>8. Choose your sex or 'back' to race selection [M/F]:</p>

           

            <p>9. Choose experience level, or 'back':

            1.) Little or no experience with MUDs.
            2.) Experienced MUD player but new to current version.
            3.) Experienced.</p>

            10. Congratulations! you have now completed character creation.
            [Press return to continue]





            </h2>
